@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

header {
    width: 100%;
    font-family: "Rubik", sans-serif;
    color: #e1dddf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab {
    background-color: #8B0000;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

body {
    font-family: "Rubik", sans-serif;
    color: #e1dddf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b43f32;
}

#start-btn {
    margin-top: 20px;
    background-color: green;
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    border: white 1px solid;
    transition-duration: 0.4s;
}

#start-btn:hover {
    transform: scale(1.10);
    background-color: forestgreen;
}

#refresh-btn {
    margin-top: 20px;
    background-color: royalblue;
    font-family: "Rubik", sans-serif;
    color: white;
    font-size: 23px;
    border-radius: 5px;
    border: white 1px solid;
    transition-duration: 0.4s;
}

#refresh-btn:hover {
    transform: scale(1.10);
    background-color: dodgerblue;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(50, 20px);
    grid-gap: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: white 2px solid;
}

.grid-item {
    width: 20px;
    height: 20px;
    background-color: #e1dddf;
    border-radius: 1px;
    border: white 0px solid;
}

.grid-item:hover {
    transform: scale(1.10);
    background-color: grey;
}

.obstacle {
    background-color: #515651;
}

.queued {
    background-color: deepskyblue;
}

.visited {
    background-color: dodgerblue;
}

.path {
    background-color: gold;
}

.start-point {
    background-color: mediumspringgreen;
}

.end-point {
    background-color: red;
}